



/*Copia todo, ten en cuenta el import de las fuentes de Google Fonts :D */

/* ESTILOS DEL HEADER */

@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Roboto:wght@500&display=swap');
    

/* Mobile first */








/* Desktop */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li, a, button {
  font-family: "Roboto", arial;
  font-weight: 500;
  font-size: 16px;
  color: #1F6F8B;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: #D9D9D9;
}

.header-logo-eU {
  cursor: pointer;
  width: 100px;
  height: auto;
  margin-right: auto;

}

.nav-links-eU {
  list-style: none;
}

.nav-links-eU li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links-eU li a {
  transition: all 0.3s ease 0s;
}

.nav-links-eU li a:hover {
  color: #1C2B2D;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: #E6D5B8;
  word-wrap:break-word;
}

button:hover {
  background-color: rgba(0, 64, 80, 0.8);
}

@media screen and (max-width: 1364px){
  body{
    background-color: red;
  }
}



/* FIN DE ESTILOS DEL HEADER */





/* INICIO DE ESTILOS DEL FOOTER */

/* FIN DE ESTILOS DEL FOOTER */