
p {
  font-family: 'Roboto', sans-serif;
}

h3, h5 {
  font-family: 'Days One', sans-serif;
}

#descriptionBox {
    margin-top: 2rem;
}

.card {
	background-color: #E8EAF6;
	padding-top: 0px;
	cursor: pointer;
    border-top: 4px solid #3D5AFE !important;
    transition: 0.5s;
}

.card:hover {
    box-shadow: 0 0 2px 2px #3D5AFE;
    transition: 0.5s;
}

.hex-icon {
  background-color: black;
  width: 30%;
}

.fa {
  color: white;
  background-color: black;
  width: 40px;
  transition: 0.2s;
}

.fa:hover {
  opacity: 1;
  transition: 0.2s;
}

.fa-linkedin {
  background-color: #0077B5;
  opacity: 0.8;
}

svg {
  height: 200px;
  width: 240px;
}