/* ESTILOS DEL HEADER */

   

/* Desktop */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li, a, button {
  font-family: "Days One", arial;
  font-weight: 500;
  font-size: 16px;
  color:#7D9D9C;
  text-decoration: none;
}

header {
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 1rem 1rem;
  background-color: #D9D9D9;
}

a, .header-logo-eU {
  cursor: pointer;
  width: 100px;
  height: auto;
  margin-right: auto;

}
.cta-eU { 
  margin-left: auto;
  display:table-header-group;
}
.nav-links-eU {
  list-style: none;
}

.nav-links-eU li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links-eU li a {
  transition: all 0.3s ease 0s;
}

.nav-links-eU li a:hover {
  color: #1C2B2D;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: #E6D5B8;
  text-align: center;
}

button:hover {
  background-color: rgba(28, 43, 45, 0.8);
  color: #ffffff;
}

@media screen and (min-width: 1201px){ /* << -- Magia de sirena chafa para esconder el menu que va a contener los demas submenus porque no quiero aventarme 5 horas de JavaScript */
  .desktop-hidden-eU {
    display: none;
  }
   {
    display: none;
  }
}

/* Header Tablet Responsive*/

@media screen and (max-width: 1200px){
  * {
    background-color: pink;
  }
  .desktop-hidden-container-eU {
    display: grid;
    grid-template-columns: 1px 1fr 1px;
    grid-template-rows: 1fr;

  }
  .centered-menu-eU {
    grid-column-start: 2;
    text-align: center;
    align-content:stretch;
    justify-content: center;
  }

  .hide-at-tablet-container-eU {
    display: none;
  }

  .hidden-for-responsiveness-eU {
    display: none;
  }
  /* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: red;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: red;
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}
}



@media screen and (max-width: 500px){ /* <<< ---- Mobile */
  *{
    background-color: rgb(56, 103, 203);
  }
}


/* FIN DE ESTILOS DEL HEADER */





/* INICIO DE ESTILOS DEL FOOTER */

/* FIN DE ESTILOS DEL FOOTER */