.titulo{
    text-align:center;
    letter-spacing: 0.1em;
}


.imgall{
    width: 250px;
    height: 250px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

footer{
    margin-top: 125px;
    border: 0px solid black;
    letter-spacing: 0.1em;
    }

.cardbutton {
    background-color: rgba(0, 136, 169, 1)!important;
    color: #e6d5b8!important;
    border-radius: 4px;
}

.cardbutton:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
