.titulo{
    text-align:center;
    letter-spacing: 0.1em;
}

footer{
    margin-top: 125px;
    border: 0px solid black;
    letter-spacing: 0.1em;
    }
    
.imgall{
    width: 250px;
    height: 250px;
    margin: 0 auto;
    display: block;
    border-radius: 20px;
    margin-top: 10px;
 }    

.cardbutton {
    background-color: rgba(0, 136, 169, 1)!important;
    color: #000000!important;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-radius: 0 0 8px 8px;
    position: static;
}
.cardbutton:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.card{
  transition:0.2s;
  cursor:pointer;
  text-align: center;
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}
.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}

.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
  transform: scale3d(1, 1, 1);
}
