p{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h3,
h5 {
  font-family: "Days One", sans-serif;
  font-size: 16px;
}

.tipsbox {
  margin-top: 2rem;
}

.categorybox p, li {
  text-align: justify;
}

li {
  padding-bottom: 0.5rem;
}

#subscribe {
  background-color: #e6d5b8;
}

.newsletter-links {
  margin-top: 40px;
  text-align: justify;
}

.newsletter-links a {
  text-decoration: none;
  color: #ffffff;
}

#subscribe:hover {
  color: #ffffff;
  background-color: #1c2b2d;
}

footer {
  background-color: #1c2b2d;
  padding-top: 0.25rem;
  height: 2rem;
}

footer a,
span {
  font-family: "Days One", sans-serif;
  color: #ffffff;
  text-decoration: none;
}

footer a:hover {
  color: #d9d9d9;
}
